<!-- create-book.component.html -->
<div class="create-book-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title *ngIf="!book.id; else editBook">Создание новой книги</mat-card-title>
      <ng-template #editBook>
        <mat-card-title>Редактирование книги</mat-card-title>
      </ng-template>
    </mat-card-header>
    <mat-card-content>
      <form>
        <mat-form-field class="full-width">
          <input matInput placeholder="Название книги" [(ngModel)]="book.title" name="title" required>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="Автор" [(ngModel)]="book.author_id" name="author" required>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="Язык" [(ngModel)]="book.language" name="language" required>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput type="number" placeholder="Число страниц" [(ngModel)]="book.pages" name="pages" required>
        </mat-form-field>
        <mat-form-field class="full-width">
          <textarea matInput placeholder="Описание" [(ngModel)]="book.description" name="description" required></textarea>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="createBook()" *ngIf="!book.id; else EditBookAdd">Создать книгу</button>
      <ng-template #EditBookAdd>
        <button mat-raised-button color="primary" (click)="createBook()">Редактировать книгу</button>
      </ng-template>
    </mat-card-actions>
  </mat-card>
</div>
