<!-- create-book.component.html -->
<div class="create-book-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title *ngIf="!book.id; else editBook">Создание новой книги</mat-card-title>
      <ng-template #editBook>
        <mat-card-title>Редактирование книги</mat-card-title>
      </ng-template>
    </mat-card-header>
    <mat-card-content>
      <form>
        <mat-form-field class="full-width">
          <input matInput placeholder="Название книги" [(ngModel)]="book.title" name="title" required>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Выберите автора</mat-label>
          <mat-select [(ngModel)]="selectedAuthorId" name="authorId">
            <mat-option *ngFor="let author of authors" [value]="author.id">{{ author.name }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="Язык" [(ngModel)]="book.language" name="language" required>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput type="number" placeholder="Число страниц" [(ngModel)]="book.pages" name="pages" required>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput type="text" placeholder="Жанр" [(ngModel)]="book.genre" name="pages" required>
        </mat-form-field>
        <mat-form-field class="full-width">
          <textarea matInput placeholder="Описание" [(ngModel)]="book.description" name="description" required></textarea>
        </mat-form-field>
      </form>
    </mat-card-content>
    <div *ngIf="errors">
      <ul>
        <!-- Перебираем ключи (поля) массива ошибок -->
        <li *ngFor="let field of getErrorKeys()">
          <!-- Перебираем сообщения об ошибках для каждого поля -->
          <p *ngFor="let message of errors[field]" style="color: red">
            {{ message }}
          </p>
        </li>
      </ul>
    </div>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="createBook()" *ngIf="!book.id; else EditBookAdd">Создать книгу</button>
      <ng-template #EditBookAdd>
        <button mat-raised-button color="primary" (click)="createBook()">Редактировать книгу</button>
      </ng-template>
    </mat-card-actions>
  </mat-card>
</div>
