<!-- create-book.component.html -->
<div class="create-book-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title *ngIf="!author.id; else editAuthor">Создание нового автора</mat-card-title>
      <ng-template #editAuthor>
        <mat-card-title>Редактирование автора</mat-card-title>
      </ng-template>

    </mat-card-header>
    <mat-card-content>
      <form>
        <mat-form-field class="full-width">
          <input matInput placeholder="Имя автора" [(ngModel)]="author.name" name="name" required>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="Страна" [(ngModel)]="author.country" name="country" required>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="Год рождения" [(ngModel)]="author.birth_year" name="birth_year" required>
        </mat-form-field>
      </form>
    </mat-card-content>
    <div *ngIf="errors">
      <ul>
        <!-- Перебираем ключи (поля) массива ошибок -->
        <li *ngFor="let field of getErrorKeys()">
            <!-- Перебираем сообщения об ошибках для каждого поля -->
            <p *ngFor="let message of errors[field]" style="color: red">
              {{ message }}
            </p>
        </li>
      </ul>
    </div>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="createOrUpdateAuthor()" *ngIf="!author.id; else editAuthorAdd">Создать автора</button>
      <ng-template #editAuthorAdd>
        <button mat-raised-button color="primary" (click)="createOrUpdateAuthor()">Редактировать автора</button>
      </ng-template>
    </mat-card-actions>
  </mat-card>
</div>
